/* 内容部分背景样式 */
.profession-center{position:relative;overflow:hidden;min-height:calc(100vh - 224px)}
.profession-center .topBg{width:100%;height:636px;background:url(../images/content_bg1.png) no-repeat top center;position:absolute;top:0;left:0;z-index:2}
.profession-center .bottomBg{width:100%;height:881px;background:url(../images/content_bg2.png) no-repeat top center;position:absolute;bottom:0;left:0}
.profession-center .container{position:relative;}
/*侧导航*/
.userCenter-left{width:260px;margin-top:30px}
.userCenter-right{width:920px;min-height:586px;background:#26294d;border:2px solid #3377ff;border-radius:5px;margin-top:30px}
.uc-info-t{width:260px;height:210px;background:url(../images/headbg.png) no-repeat;background-size:100% 100%;box-sizing: border-box;padding-top: 20px;}
.uc-info-avator{width:92px;height:92px;margin:0 auto;background:#c4c4c4;border:2px solid #fff;border-radius:50%;position:relative;cursor:pointer}
.uc-info-avator:hover .avator-hover{display:flex}
.uc-info-avator>img{width:92px;height:92px;border-radius:50%}
.uc-info-t .name{max-width:180px; max-height: 40px; margin:auto;margin-top:12px;text-align:center;line-height:20px;font-size:16px;color:#ffffff}
.avator-hover{position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,.6);justify-content:center;align-items:center;border-radius:50%;display:none}
.avator-hover p{color:rgba(255,255,255,1);font-size:14px;font-weight:700;font-family:"PingFang SC";text-align:center;line-height:14px}
.profession-center .container-wrap{display:flex}
.profession-center .right-con{margin-bottom:48px;width:920px;margin-left:20px;box-sizing:border-box}
.profession-center .sidenav{width:260px;box-sizing:border-box;padding:22px 8px 22px 11px;background:#26294d;border-radius:5px;max-height:476px}
.profession-center .sidenav ul{width:241px}
.profession-center .sidenav li{line-height:46px;font-size:14px;color:#ffffff;line-height:24px;text-align:left;cursor:pointer;margin-bottom:2px}
.profession-center .sidenav li:hover, .profession-center .sidenav li.cur{background:url(../images/side_btn.png) no-repeat;background-size:240px 46px}
.profession-center .sidenav li p{font-weight:400;height:46px;line-height:46px;padding-left:36px;background-size:16px 16px}
.profession-center .sidenav li:hover p, .profession-center .sidenav li.cur p{font-weight:600}
/*侧边栏图标样式*/
.profession-center .sidenav li.uc-study p{background:url(../images/uc-sidenav_icon1.png) no-repeat 12px center;background-size:16px 16px}
.profession-center .sidenav li.uc-post p{background:url(../images/uc-sidenav_icon2.png) no-repeat 12px center;background-size:16px 16px}
.profession-center .sidenav li.uc-reply p{background:url(../images/uc-sidenav_icon3.png) no-repeat 12px center;background-size:16px 16px}
.profession-center .sidenav li.uc-job p{background:url(../images/uc-sidenav_icon4.png) no-repeat 12px center;background-size:16px 16px}
.profession-center .sidenav li.uc-energy p{background:url(../images/uc-sidenav_icon5.png) no-repeat 12px center;background-size:16px 16px}
.profession-center .sidenav li.uc-fav p{background:url(../images/uc-sidenav_icon6.png) no-repeat 12px center;background-size:16px 16px}
.profession-center .sidenav li.uc-setting p{background:url(../images/uc-sidenav_icon7.png) no-repeat 12px center;background-size:16px 16px}
.profession-center .sidenav li.uc-order p{background:url(../images/uc-sidenav_icon8.png) no-repeat 12px center;background-size:16px 16px}
.profession-center .sidenav li.uc-study:hover p,.profession-center .sidenav li.uc-study.cur p{background:url(../images/uc-sidenav_icon1_hover.png) no-repeat 12px center;background-size:16px 16px}
.profession-center .sidenav li.uc-post:hover p,.profession-center .sidenav li.uc-post.cur p{background:url(../images/uc-sidenav_icon2_hover.png) no-repeat 12px center;background-size:16px 16px}
.profession-center .sidenav li.uc-reply:hover p,.profession-center .sidenav li.uc-reply.cur p{background:url(../images/uc-sidenav_icon3_hover.png) no-repeat 12px center;background-size:16px 16px}
.profession-center .sidenav li.uc-job:hover p,.profession-center .sidenav li.uc-job.cur p{background:url(../images/uc-sidenav_icon4_hover.png) no-repeat 12px center;background-size:16px 16px}
.profession-center .sidenav li.uc-energy:hover p,.profession-center .sidenav li.uc-energy.cur p{background:url(../images/uc-sidenav_icon5_hover.png) no-repeat 12px center;background-size:16px 16px}
.profession-center .sidenav li.uc-fav:hover p,.profession-center .sidenav li.uc-fav.cur p{background:url(../images/uc-sidenav_icon6_hover.png) no-repeat 12px center;background-size:16px 16px}
.profession-center .sidenav li.uc-setting:hover p,.profession-center .sidenav li.uc-setting.cur p{background:url(../images/uc-sidenav_icon7_hover.png) no-repeat 12px center;background-size:16px 16px}
.profession-center .sidenav li.uc-order:hover p,.profession-center .sidenav li.uc-order.cur p{background:url(../images/uc-sidenav_icon8_hover.png) no-repeat 12px center;background-size:16px 16px}
.mask {width: 100%;height: 100%;position: fixed;top: 0;left: 0;z-index: 5;background: rgba(0, 0, 0, 0.6);}
.btn-sendCode,.resend{
    color: #33BBFF;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 12px;
    height: 40px;
    line-height: 40px;
}
.resend{
    color: #999;
}

.uc-info-t .btc {
    display: flex;
    width: 110px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #33BBFF;
    color: #33BBFF;
    cursor: pointer;
    margin-left: 73px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.uc-info-t .btc:hover {
    border: 1px solid #66CCFF;
    color: #66CCFF
}

/* 我的证书 */
.profession-center .sidenav li.uc-certificate p{background: url(../images/certificate_icon.png) no-repeat 12px center;background-size: 16px 16px;}
.profession-center .sidenav li.uc-certificate:hover p,.profession-center .sidenav li.uc-certificate.cur p{background:url(../images/certificate_icon_hover.png) no-repeat 12px center;background-size:16px 16px}